:root {
  --Moderate-violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(0, 0%, 81%);
  --Light-grayish-blue: hsl(210, 46%, 95%);
}

html {
  font-size: 13px;
  font-family: "Barlow Semi Condensed", sans-serif;
}

body {
  background-color: var(--Light-grayish-blue);
}

main {
  max-width: 468px;
  margin: 0 auto;
}

.card {
  padding: 3rem;
  margin: 1rem;
  border-radius: 1rem;
}

.card > div {
  margin-bottom: 3rem;
}

.card > div > img {
  border-radius: 50%;
  width: 50px !important;
  height: 50px !important;  
  margin-right: 1rem;
}
.card > div > div h3 {
  margin: 0;
  margin-left: 1rem;
}

.card > div > div h3:first-child {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.1rem;
}

.card > div > div h3:last-child {
  font-size: 1.4rem;
  font-weight: 300;
}

.card > h2 {
  font-size: 1.65rem;
  font-weight: 600;
  position: relative;
  z-index: 100;
}

.card > p {
  font-size: 1.35rem;
  font-weight: 300;
}

 div:first-child {
  margin-right: 1rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.clifford {
  background-color: var(--Moderate-violet);
  color: var(--White);
}
.clifford > div > img:first-child {
  border: 4px solid rgb(167, 117, 242);
}
.clifford > div > img:last-child {
  border-radius: 0;
  position: absolute;
  transform: translate(220px, 14px);

  width: 160px !important;
  height: 160px !important;  
}
/*
.bg {
  border-radius: 0;
  position: absolute;
  transform: translate(220px, 14px);

  width: 160px !important;
  height: 160px !important;  
}
*/
.walters {
  background-color: var(--Very-dark-grayish-blue);
  color: var(--White);
}

.harmon {
  background-color: var(--White);
  color: var(--Very-dark-blackish-blue);
}

.abrams {
  background-color: var(--Very-dark-blackish-blue);
  color: var(--White);
}
.abrams > div > img {
  border: 4px solid var(--Moderate-violet);
}
.whittle {
  background-color: var(--White);
  color: var(--Very-dark-blackish-blue);
}

@media (min-width: 1440px) {

  main {
    max-width: 1440px;
  
    display: grid;
    grid-template-columns: repeat(5, 360px);
    grid-template-rows: repeat(2, 380px);
    
    margin: 0 auto;
    margin-top: 3rem;
  }

  .clifford > div > img:last-child {
    border-radius: 0;
    position: absolute;
    transform: translate(400px, 14px);

    width: 160px !important;
    height: 160px !important;  
  }

  .clifford {
    grid-area: 1 / 1 / 2 / 3;
  }
  .walters {
    grid-area: 1 / 3 / 2 / 4;
  }

  .harmon {
    grid-area: 2 / 1 / 3 / 2;
  }

  .abrams {
    grid-area: 2 / 2 / 3 / 4;
  }

  .whittle {
    grid-area: 1 / 4 / 3 / 5;
  }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }